.Profile{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 1fr;
}
.imgCover{
    height: 20vw;
    width: 20vw;
    border-radius: 15px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
}

.logo img{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.otherInfo ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
}
